.modalComponent{
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 20px;
    height: 100vh;

    .openModal{
        background-color: rgb(119, 7, 119);
        opacity: .8;
        cursor: pointer;
        width: 120px;
        height: 80px;
        border-radius: 10px;
        color: white;
        box-shadow: 0 0 5px 5px rgb(55, 54, 54);

        &:hover{
            background-color: rgb(237, 180, 237);
            color:black;
            box-shadow: 0 0 5px 5px rgb(119, 7, 119);
            
        }
    }
}

.showModal {
    background-color: rgb(218, 213, 213);
    z-index: 1;
}

.close-button{
    font-size: 22px;
    cursor: pointer;
}

.modalContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        display: flex;
        position: absolute;
        z-index: 999;
        align-items:flex-start;
        justify-content: center;
        width: 300px;
        height: 200px;
        border-radius: 15px;
        background-color: rgb(237, 180, 237);
       z-index: 999;
    
       h1{
        text-align: center;
       }
       button{
        width: 35px;
        height: 35px;
        color: black;
        font-size: 26px;
       }
    } 
}